body, html {
  height: 100%;
}

body {
  background: #fff;
  padding-top: 40px;
}

a {
  color: #0971B2;
}

a:hover {
  color: #FF0000;
}

::selection {
  background: #dfdfdf;
  color: #556;
}

.sprite {
  background-image: url('/images/sprites.png');
  background-repeat: no-repeat;
  > span {
    display: none;
  }
}

article blockquote {
  margin-left: 20px;
  color: #777;
  border: 0 none;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  padding-right: 1em;
  padding-left: 35px;

  &:before {
    display: block;
    content: "\201c";
    position: absolute;
    top: 14px;
    left: -5px;
    font-size: 82px;
    font-family: "Palatina Linotype", "Book Antiqua", Palatina, serif;
  }
}

article blockquote p {
  font-size: inherit;
  line-height: 1.7;
}

body > .container {
  min-height: 100%;
}

body > footer {
  font: 14px 'Open Sans', sans-serif;
  line-height: 80px;
  margin-top: -80px;
  text-align: center;
  background: #eee;
  border-top: #ddd 1px solid;
  color: #777;
  text-shadow: 0 1px 0 #fff;
}

div.top-border {
  width: 100%;
  height: 4px;
  background: #222;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px #000;
}

.pager li > a {
  padding: 20px;
}

.posts {
  .post {
    border-bottom: #eee 1px solid;
  }
}

.post {
  padding-bottom: 40px;
  margin-bottom: 40px;

  h2.title {
    margin-top: 0;
  }
}
article {
  font: 16px/1.8em 'Open Sans', sans-serif;
  color: #555;
  padding-bottom: 120px;
}
article p, ul {
  margin-top: 15px;
}

article ul {
  margin-left: 28px;
}

#sidebar {
  width: 220px;
  padding-top: 60px;
}

#sidebar ul.social-nav {
  font-size: 48px;
}

#sidebar ul.social-nav li {
  display: inline;
  padding: 0 3px;
}

#sidebar ul.social-nav li a {
  display: inline-block;
  color: #424242;
  width: 45px;
  height: 45px;

  &.linkedin {
    background-position: -45px -179px;
  }
  &.github {
    background-position: -0px -179px;
  }
  &.adn {
    background-position: -90px -179px;
  }
  &:hover {
    background-position-y: -224px;
  }
}

#sidebar ul.social-nav li a:hover {
  text-decoration: none;
  color: #c40000;
}

#sidebar ul.primary-nav, #sidebar ul.social-nav {
  list-style: none;
  text-align: center;
  margin: 20px 0 -12px;
}

#sidebar ul.primary-nav {
  margin-top: 68px;
}

#sidebar ul.primary-nav li {
  padding-bottom: 20px;
}

#sidebar ul.primary-nav li a {
  color: #bbb;
  font-size: 86%;
  font-weight: 200;
  letter-spacing: 1px;
  /*text-decoration: underline;*/
}

#sidebar div.rss {
  margin-top: 40px;
  a.rss {
    display: block;
    width: 100px;
    height: 68px;
    margin: 0 auto;
    background-position: 0 -36px;
    &:hover {
      background-position: 0 -105px;
    }
  }
}

#logo {
  display: block;
  margin: 0 auto;
  width: 120px;
}

#sidebar a.brand {
  padding-top: 0;
  padding-bottom: 0;
  color: #c40000;
}

h1, h1 a {
  font: 48px 'Dosis', sans-serif;
  color: #c40000;
}
h1 a:hover {
  text-decoration: none;
  color: inherit;
}


.posts .post {
  dl {
    dt {
      float: left;
      margin-top: 3px;
    }
    dd {
      margin: 0 0 10px 24px;
    }
  }
  h2.title {
    font: 36px 'Dosis', sans-serif;
    color: #c40000;
  }
  h2.title a {
    color: #c40000;
  }
  h2.title a:hover {
    color: #ff0000;
  }
}

h2 {
  font: 24px 'Open Sans', sans-serif;
  margin-top: 22px;
}

h2 a {
  color: inherit;
}
h2 a:hover {
  color: inherit;
  text-decoration: none;
}

i.sprite {
  display: inline-block;

  &.calendar {
    width: 15px;
    height: 17px;
    background-position: -108px 0;
  }
  &.comment {
    width: 16px;
    height: 16px;
    background-position: -40px -17px;
  }
  &.tag {
    width: 14px;
    height: 14px;
    background-position: 0 0;
  }
}

article header h1 {
  margin-left: -2px;
  margin-bottom: 0;
}
article footer {
  /*padding-left: 6px;*/
  margin-bottom: 28px;
}
article p.meta {
  color: #999;
  font-size: 90%;
  margin-top: 8px;
}

article .meta {
  table {
    th, td {
      line-height: 30px;
    }
    th {
      .sprite {
        display: block;
        margin: 0 auto;
      }
    }
    td {
      padding-left: 5px;
    }
  }

}
article div.meta {
  color: #999;
  font-size: 80%;
  padding-top: 20px;

  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline;
      padding-right: 12px;
      .sprite, span {
        vertical-align: middle;
        display: inline-block;
      }
      .sprite {
        margin-right: 3px;
      }
    }
  }
}

article .meta a {
  color: #999;
}
article .meta a:hover {
  color: #555;
  text-decoration: underline;
}
article .meta i {
  opacity: .5;
}

#blog-archives {
  margin-top: 40px;
  h2 {
    font-weight: bold;
    line-height: 1;
    margin: 0;
  }
  article {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px #eee solid;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0 none;
    }
    h1 {
      line-height: 1;
      font-size: 24px;
      line-height: 1;
      margin: 0 0 10px;

      a {
        color: #527b39;
        font-size: 24px;
        line-height: 1;
      }
    }
  }
  .year-group {
    border-bottom: 1px #ddd solid;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0 none;
    }
  }
}

#mobile-nav {
  position: fixed;
  top:0;
  left:0;
  opacity: .9;

  .container {
    padding: 0 25px;

    .brand {
    }
  }
}
/* Very large desktop */
@media (min-width: 1600px) {
  #sidebar {
    width: 270px;
  }
}

/* Large desktop to very large desktop */
@media (min-width: 1200px) and (max-width: 1600px) {
  #sidebar {
    width: 270px;
  }
}

/* Desktop to large desktop */
@media (min-width: 979px) and (max-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  #sidebar {
    width: 166px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #sidebar {
    width: 100%;
  }
  body {
    padding-top: 48px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #sidebar {
    width: 100%;
  }
  body {
    padding-top: 48px;
  }
  article blockquote {
    margin-left: 0;
  }
  figure.code {
    margin-left: 0;
    margin-right: 0;
    table {
      td.gutter {
        display: none;
      }
      td.code {
        padding-left: 0;
      }
    }
  }
}
