<article>
  <header>
    <div class='container'>
      <div class='col-md-7 col-md-offset-2'>
        <h1 class="title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p class='meta'>Written by {{ post.author }} on {{ post.date|date: "%B %d, %Y" }}</p>
      </div>
    </div>
  </header>

  <div class='container content'>
    <section class='col-md-7 col-md-offset-2'>
    
      {% if single_page %}
        <div class='pull-right author'>
          <img src='/images/adam-fortuna.jpg' alt='Adam Fortuna' class='img-rounded'/>
          <p><a href='http://adamfortuna'>Adam Fortuna</a> is a developer at <a href='http://codeshool.com'>Code School</a> writing and implementing educational courses with a focus on JavaScript and Ruby on Rails.</span>
          </p>
        </div>
      {% endif %}

      <div class='post-content'>
        {% if single_page %}
          {{ content }}
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    </section>    
  </div>

  {% if single_page and post.comments %}
    <div class='comments'>
      <div class='container'>
        <section class='col-md-7 col-md-offset-2'>
          <h2>Comments</h2>
          <div id="disqus_thread"></div>
        </section>
      </div>
    </div>
  {% endif %}
</article>