<header class='topbar' role="banner">
  <div class="container">
    <div class='col-md-offset-2 col-lg-4 col-sm-6 col-md-4 col-xs-6'>
      <div class="navbar-header">
        <a href="/" class="navbar-brand">eval everything</a>
      </div>
    </div>

    <nav role="navigation" class='col-lg-3 col-sm-6 col-md-4 col-xs-5'>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Latest</a></li>
        <li><a href="/archives">Archives</a></li>
      </ul>
    </nav>
  </div>
</header>

